*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;

    }

.navbar{
    display:flex;
    justify-content: center;
    align-items:center ;
    background-color: rgba(0, 0,0, 0.2);
    position: static;
    width: 100%;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 30px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 300px;
    font-family: 'Franklin Gothic Medium';
    text-transform: uppercase;
    transition:  all .5s ease;
}
.navbar ul li a:hover,.navbar ul li a.active{
    background: rgba(184, 25, 25, 0.7);
    border-radius: 6px;
    bottom: 0 0 10px white;
}
#home{
    display:flex;
    flex-direction: column;
    /* background-color: rgba(0,0,0,0.5); */
    height: 840px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
#home::before{
        content: "";
         position:absolute ;
         top: 0;
        right: 0;
    /* background:url(pexels-sindre-strøm-1144176.jpg) no-repeat center center/cover; */
height: 900px;
width: 100%;
z-index: -1;   }
.heading{
    font-family: 'Dancing Script', cursive;
 margin-bottom:0pxpx;
}
 
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    
}
#pic{
    display: flex;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}
footer{
    border-top: 2px solid white;
    position: absolute;
    margin-top: 70px;
    top: 130%;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: -1;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}
footer .container .sec{
    margin-right: 30px;

}
footer .container .sec-aboutus{
    width: 30%;

}
footer .container   h3{
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 500;
     margin-bottom: 35px;
}
footer .container h3:before{
    content: ' ';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer  p{
    color: #999;
    font-family: 'Franklin Gothic Medium' ;
}
.sci{
    margin-top: 20px ;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;

}
.sci li a:hover{
    background: #f00;
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.sec-quicklinks{
position: relative;
width: 25%;

}
.sec-quicklinks ul li{
    list-style: none;
}
.sec-quicklinks ul li a{
    font-family: 'Franklin Gothic Medium' ;
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.sec-quicklinks ul li a:hover{
    color: #fff;
}
.sec-contact{
  width: calc(25%);
  margin-right: 0  !important ;  

}
.sec-contact .info {
    position: relative;


}
.sec-contact .info li{
    display: flex;
     margin-bottom: 16px;
}
.sec-contact .info li span:nth-child(1){
    color: #fff;
    font-family: 'Franklin Gothic Medium' ;
    font-size: 20px;
    margin-right: 10px;
}
.sec-contact .info li span{
    font-family: 'Franklin Gothic Medium' ;
    color: #999 ;

}
.sec-contact .info li  a{
    color: #999;
    text-decoration: none;

}
.sec-contact .info li  a:hover{
    color: #fff  ;
}
.copyright{
    margin-top: 50px;
    width: 100%;
    background: #181818 ;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}