@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.contact{
    position: absolute;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size:contain;
    opacity: 1;
    z-index: -1;
    top: 0%;
    width: 100%;
    
}
.contact .content{
    max-width: 800px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.contact .content h2{
    font-size:36px;
    font-weight: 800;
    color: #fff;
}
.contact .content p{
    
    font-weight: 800;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 800;
}
.container .contactInfo{
    width: 70%;
    display: flex;
    flex-direction: column;
    font-weight: 800
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left:10px ;
    font-size: 16px;
    color: #fff;
    flex-direction: row;
    font-weight: 800;
}
.container .contactInfo .box .text h3{
    font-weight: 2000;
    color: black;

}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color:#333;
    font-weight: 800;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input
.contactForm .inputBox textarea   
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border: bottom 2px solid #333 ;
    outline: none;
    resize: none;
}
 .contactForm .inputBox span{
     position: absolute;
     left:0;
     padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;pointer-events: none;
    transition: 0.5s;
    color: #666;
 }
 .contactForm .inputBox input:focus ~span ,
 .contactForm .inputBox input:valid ~span ,
 .contactForm .inputBox textarea:focus ~span ,
 .contactForm .inputBox textarea:valid ~span 
 {
     color:#e91e63;
     font-size: 12px;
     transform:translateY(-20px);
     font-weight: 800;
    
 }
 .contactForm .inputBox input[type="submit"]{
     width: 100px;
     background:  #00bcd4;
     color:#fff;
     border: none;
     cursor:pointer;
     padding:10px;
     font-size: 18px;
 }
 @media(max-width:991px){
     .contact{
         padding: 50px;
     }
     .container
     {
         flex-direction: column;
     }
     .container .contactInfo{
margin-bottom: 40px;;
     }
     .containerc.contactInfo{
         width: 100% ;
     }
 }

 footer{
    border-top: 2px solid white;
    position: absolute;
    margin-top: 70px;
    top: 90%;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: -1;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}
footer .container .sec{
    margin-right: 30px;

}
footer .container .sec-aboutus{
    width: 30%;

}
footer .container   h3{
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 500;
     margin-bottom: 35px;
}
footer .container h3:before{
    content: ' ';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer  p{
    color: #999;
    font-family: 'Franklin Gothic Medium' ;
}
.sci{
    margin-top: 20px ;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;

}
.sci li a:hover{
    background: #f00;
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.sec-quicklinks{
position: relative;
width: 25%;

}
.sec-quicklinks ul li{
    list-style: none;
}
.sec-quicklinks ul li a{
    font-family: 'Franklin Gothic Medium' ;
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.sec-quicklinks ul li a:hover{
    color: #fff;
}
.sec-quicklinks ul li a.active{
    color: white;
    text-decoration: underline;
}
.sec-contact{
  width: calc(25%);
  margin-right: 0  !important ;  

}
.sec-contact .info {
    position: relative;


}
.sec-contact .info li{
    display: flex;
     margin-bottom: 16px;
}
.sec-contact .info li span:nth-child(1){
    color: #fff;
    font-family: 'Franklin Gothic Medium' ;
    font-size: 20px;
    margin-right: 10px;
}
.sec-contact .info li span{
    font-family: 'Franklin Gothic Medium' ;
    color: #999 ;

}
.sec-contact .info li  a{
    color: #999;
    text-decoration: none;

}
.sec-contact .info li  a:hover{
    color: #fff  ;
}
.copyright{
    margin-top: 50px;
    width: 100%;
    background: #181818 ;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
